# Local Python virtual env
.venv/

# PyTorch model weights

# Uploaded images and temporary files
uploads/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS
.DS_Store
